<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">ReVSpsgcVdXl</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.6.14.2:3306/CLASSDB</property>
        <!-- <property name="hibernate.connection.url">jdbc:mysql://127.8.88.2:3306/classdb</property> -->
        <property name="hibernate.connection.username">admin7wiv5Ys</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping resource="com/classapp/db/register/register.hbmmap.xml"></mapping>
        <mapping resource="com/classapp/db/service/service.hbmmap.xml"></mapping>
    </session-factory>
</hibernate-configuration>