<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Uncomment for openshiftdeployment  -->
        
        <!-- <property name="hibernate.connection.username">admin7wiv5Ys</property>
        <property name="hibernate.connection.password">ReVSpsgcVdXl</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.6.14.2:3306/classdb</property>
 -->        
        <!-- comment for openshiftdeployment  -->
         <!--  -->
      <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">this4now</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/classdb</property>
        
         <!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.datasource">java:jboss/datasources/classdb</property>
        <property name="hibernate.current_session_context_class">thread</property>
         -->
        <property name="hibernate.connection.datasource">java:jboss/datasources/classdb</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping resource="com/classapp/db/register/register.hbmmap.xml"></mapping>
        <mapping resource="com/classapp/db/service/service.hbmmap.xml"></mapping>
        <!-- <mapping resource="com/classapp/db/batch/batchdata.hbmmap.xml"></mapping> -->
        <mapping resource="com/classapp/db/subject/subject.hbmmap.xml"></mapping>
        <mapping resource="com/classapp/db/subjectandbatch/subjectandbatch.hbmmap.xml"></mapping>
        <!-- <mapping resource="com/classapp/db/subject/classsubject.hbmmap.xml"></mapping> -->  
        <mapping resource="com/classapp/db/Teacher/Teacher.hbmmap.xml"></mapping>    
        <mapping resource="com/classapp/db/batch/batch.hbmmap.xml"></mapping>  
        <mapping resource="com/classapp/db/division/Division.hbmmap.xml"></mapping>
        <mapping resource="com/classapp/db/schedule/schedule.hbmmap.xml"></mapping>
        <mapping resource="com/classapp/db/Notes/Notes.hbmmap.xml"></mapping>
        <!-- <mapping resource="com/classapp/db/division/ClassDivision.hbmmap.xml"></mapping> -->
	  	<mapping resource="com/classapp/db/subject/subjects.hbmmap.xml"></mapping>
	  	<mapping resource="com/classapp/db/student/Student.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/exams/exams.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/register/alluserid.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/feedback/Feedback.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/sitemap/sitemap.hbmmap.xml"></mapping>
		<mapping resource="com/classapp/db/accessurl/accessurl.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/notification/Notification.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/questionbbank/questionbank.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/exam/exam.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/studentmarks/studentmarks.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/exam/compexam.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/subject/subject_topics.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/advertisement/Advertisement.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/institutestats/InstituteStats.hbmmap.xml"></mapping> 
 		<mapping resource="com/classapp/db/image/image.hbmmap.xml"></mapping>
 		<mapping resource="com/classapp/db/pattern/QuestionPaperPattern.hbmmap.xml"></mapping>
       <!--  <mapping resource="com/classapp/db/classwithsubjects/ClassWithSubjects.hbmmap.xml"></mapping> --> 
    </session-factory>
</hibernate-configuration>
