.logout{
	background: rgb(240, 109, 35);
	color: white;
}

.navbar .dropdown-menu a{
    padding: 15px 0px 10px 10px;
}

#innerDiv {
	height: 100%;
	width :100%;
	border: 2px solid;
    background: #E9E581;   	
}

#outerDiv{
  min-height: 665px;
  background: white;
   }

#header {
	width :100%;
	height: 20%;
	/* background: #C63D0F; */	
}

#body {
	width :100%;	
	min-height:450px;	
	height: auto;
	padding-bottom: 20px; /* Height of the footer */
	/* background:#E9E581; */
}

#footer {
 	width: 100%;
 	/*  height: 30%;*/
 	align: "center";
 	position:  relative;
	bottom: 0;
 	/* background: #C63D0F */;
}

.error{
	color: red;
}