.logout{
	background: rgb(240, 109, 35);
	color: white;
}

.navbar .dropdown-menu a{
    padding: 15px 0px 10px 10px;
}

#outerDiv{
  min-height: 600px;

   }

#header {
	width :100%;
	height: 20%;
	/* background: #C63D0F; */	
}

#body {
/*	width :100%;*/	
	min-height:525px;	
	height: auto;
	padding-bottom: 20px;
	border-radius: 25px;
	 box-shadow: 5px 5px /* Height of the footer */
	/* background:#E9E581; */
}

#footer {
 	width: 100%;
 	/*  height: 30%;*/
 	align: "center";
 	position:  relative;
	bottom: 0;
 	/* background: #C63D0F */;
}

.error{
	color: red;
}

.row{
	width:95%;
}

/* #studentDetailTable tr td:first-child{
	background-color:rgb(0, 148, 255);
	color:black;
} */