.bs-callout {
	padding: 20px;
	margin: auto;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout-danger {
	border-left-color: #d9534f;
}

.bs-callout-danger .header{
	color: #d9534f;
}

.alert{
	margin-left: 5px;
	margin-right: 5px;
}