<html>
<head>
</head>
<body>
Hi {{parent_name}},
<table style="width:100%" border="0"> 
<tr>
<td>Name : {{student_name}}</td>
<td>Date : {{att_date}}</td>
</tr>
<tr>
<td>Total lecures:- {{total_lectures}}</td><td>Present Lecures:-{{present_lectures}}</td><td>Percentage:-{{average}}</td>
</tr>
</table>
</body>
