<html>
<head>
</head>
<body>
Hi {{parent_name}},
<table style="width:100%" border="0"> 
<tr>
<td>Name : {{student_name}}</td>
</tr>
<tr>
<td>Total Fees:- {{total_fees}}</td><td>Fees Paid:-{{fees_paid}}</td><td>Fees Due:-{{fee_due}}</td>
</tr>
</table>
</body>
