<html>
<head>
</head>
<body>
Hi {{parent_name}},
<div>Thank you.
{{student_name}}'s fees is submitted
</div>
<table style="width:100%" border="1">
<tr>
<td>Batch</td>
<td>Amount Paid</td>
<td>Total Fees Paid</td>
<td>Total Batch Fees</td>
<td>Fees Due</td>
</tr>
<tr>
<td>{{batch_name}}</td>
<td>{{amount_paid}}</td>
<td>{{fees_paid}}</td>
<td>{{total_fees}}</td>
<td>{{fee_due}}</td>
</tr>
</table>
</body>
