<html>
<head>
</head>
<body>
<div>Thank you.
Your fees is submitted
</div>
<table style="width:100%" border="1">
<tr>
<td>Batch</td><td>{{batch_name}}</td>
</tr>
<tr>
<td>Amount Paid</td><td>{{amount_paid}}</td>
</tr>
<tr>
<td>Total Fees Paid</td><td>{{fees_paid}}</td>
</tr>
<tr>
<td>Total Batch Fees</td><td>{{total_fees}}</td>
</tr>
<tr>
<td>Fees Due</td><td>{{fee_due}}</td>
</tr>
</tr>
</table>
</body>
