<html>
<head>
</head>
<body>
Hi {{student_name}},
<div>Your fee payment is due.
</div>
<table style="width:100%" border="1">
<tr>
<td>Batch</td>
<td>Total Fees Paid</td>
<td>Total Batch Fees</td>
<td>Fees Due</td>
</tr>
<tr>
<td>{{batch_name}}</td>
<td>{{fees_paid}}</td>
<td>{{total_fees}}</td>
<td>{{fee_due}}</td>
</tr>
</table>
</body>
