<html>
<head>
</head>
<body>
<div>Kindly make a note.
{{student_name}}'s fee payment is due.
</div>
<table style="width:100%" border="0"> 
<tr>
<td>Fees Paid:-{{fees_paid}}</td>
</tr>
<tr>
<td>Total Fees:- {{total_fees}}</td>
</tr>
<tr>
<td>Fees Due:-{{fee_due}}</td>
</tr>
</table>
</body>
