<html>
<head>
</head>
<body>
Hi {{parent_name}},
<div>{{student_name}}'s have registered successfully.
</div>
<table style="width:100%" border="1">
<tr>
<td>Username</td>
<td>Password</td>
</tr>
<tr>
<td>{{user_name}}</td>
<td>{{password}}</td>
</tr>
</table>
</body>
</html>