<html>
<head>
</head>
<body>
Hi {{parent_name}},
{{student_name}}'s attendance for month {{month}} is                                   
<table style="width:100%" border="0"> 
<tr>
<td>Batch Name</td>
<td>Attended lectures</td>
<td>Total lectures</td>
<td>Percentage</td>
</tr>
<tr>
<td>{{batch_name}}</td>
<td>{{present_lectures}}</td>
<td>{{total_lectures}}</td>
<td>{{average}}</td>
</tr>
</table>
</body>
