<html>
<head>
</head>
<body>
Institute  : {{inst_name}},
Your attendance for month {{month}} is       
<table style="width:100%" border="0"> 
<tr><td>{{batch_name}}</td></tr>
<tr><td>Total lecures:- {{total_lectures}}</td></tr>
<tr><td>Present Lecures:-{{present_lectures}}</td></tr>
<tr><td>Percentage:-{{average}}</td></tr>
</table>
</body>
