<html>
<head>
</head>
<body>
<table style="width:100%" border="0"> 
<tr>
<td colspan="3" align="center">{{inst_name}},Progress Card</td>
</tr>
<tr>
<td>Name : {{student_name}}</td>
</tr>
<tr>
<td>Class : {{class_name}}</td>
</tr>
<tr>
<td>Batch : {{batch_name}}</td>
</tr>
</table>
<table style="width:100%" border="1">
{{#examSMSDATA}}
<tr>
{{#.}}
<td>{{.}}</td>
{{/.}}
</tr>
{{/examSMSDATA}}


</table>
</body>
