Institute:{{inst_name}},{{student_name}}'s attendance for week {{start_date}}-{{end_date}} is {{batch_name}} Total lectures:{{total_lectures}} Present Lectures:{{present_lectures}} Percentage:{{average}}