Institute:{{inst_name}},{{student_name}}'s attendance of {{batch_name}} for week {{start_date}}-{{end_date}} is, Total lectures:{{total_lectures}} Present Lectures:{{present_lectures}} Percentage:{{average}}